<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings><connections><db_connection id="1"><url>localhost:3306</url><database>employees</database><user>root</user><pass/><active>true</active><bookmark>rtz</bookmark></db_connection><db_connection id="2"><url>localhost:3306</url><database>employees</database><user>root</user><pass>-</pass><active>false</active><bookmark>asd</bookmark></db_connection></connections></settings>